[Desktop Entry]
Name=Control Center
Name[ar]=مركز تحكم النظام
GenericName=Control Center
Comment=debi GNU/Linux Control Center
Exec=debi-cc2
Icon=applications-system
Terminal=False
Type=Application
Categories=System;
